@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass {
    @apply bg-white/10 backdrop-blur-md border border-white/10;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-dark-900 text-white font-sans;
}
